/* estilos monitoreo*/

.channel-card {
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin-bottom: 10px;
}

.temperature {
    font-size: 24px;
    font-weight: bold;
}

.humidity-gauge {
    width: 200px;
    height: 200px;
    margin: 20px auto;
    position: relative;
}

.dashboard-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.header {
    background: linear-gradient(to right, #d49977, #abb162);
    color: white;
    padding: 1rem;
    margin-bottom: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

/* Botón de regreso */
.back-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-bottom: 20px;
    transition: background-color 0.3s;
}

.back-button:hover {
    background-color: #0056b3;
}

.info-box {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
}

